.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureLink {
  text-decoration: none !important;
}

.featureLink:hover {
  text-decoration: none !important;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}
